PROJECT_NAME=Portal de Matriculas

# PostgreSQL
POSTGRES_DB=portal_matriculas
POSTGRES_USER=postgres
POSTGRES_PASSWORD=20241si017
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Opcional. Se ficar vazio, a API monta a URL usando as variaveis POSTGRES_*.
DATABASE_URL=

# JWT
JWT_SECRET_KEY=GERAR_UMA_STRING_ALEATORIA_LONGA_AQUI
JWT_ALGORITHM=HS256
JWT_EXPIRES_MINUTES=120

# Backend
BACKEND_HOST=fastapi
BACKEND_PORT=8080

# Loki
LOKI_URL=http://loki:3100
LOKI_SERVICE_NAME=fastapi
LOKI_ENABLED=true
